COLOR THEME {
  color: rgb(204, 204, 204);
  color: rgb(221, 221, 221);
  color: rgb(223, 224, 223);
  color: rgb(171, 139, 103);
}


body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgb(255, 247, 239);
  color: rgb(171, 139, 103);
  overflow: auto;
  /* background: hw */
}

.App {
  text-align: center;
}

header {
  display: flex;
  height: 100px;
  padding: 20px;
  margin-bottom: 10px;
  border-bottom: 2px solid rgb(171, 139, 103);
}

.logo-div {
  width: 25%;
}

.info-div {
  width: 75%;
}

.logo {
  animation: App-logo-spin infinite 20s linear;
  height: 70px;
  margin-top: 20px;
}

.info-div {
  text-align: left;
  padding-left: 50px;
}

.intro {
  font-size: 20px;
}

/* joinpage */

.formdiv {
  width: 100%;
  text-align: center;
}

.formdiv * {
  margin: 5px auto;
}

/* main */

/* main {
  display: flex;
} */

.formdivsection {
  display: flex;
  flex-direction: column;
}

.Dashboard {
  display: flex;
}

/* left page  */

.page {
  border: 1px solid rgb(223, 224, 223);
  width: 50%;
  display: flex;
  border-radius: 5px;
  background-color: rgb(223, 224, 223);
}

.chatdiv {
  height: 100%;
  width: 100%;
}

.chat-container {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.chat-window {
  /* border: 1px solid white; */
  height: 70%;
  width: 100%;
}

.chat-form {
  width: 100%;
  height: 25px;
  bottom: 0px;
}

.chat-form input {
  width: 70%;
  height: 70%;
}

.chat-form button {
  width: 20%;
  height: 100%;
}
/* sidebar */

.sidebar {
  width: 50%;
  height: 600px;
  background-color: inherit;
}

.tabnav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(255, 247, 239);
}

.tab {
  overflow: hidden;
  width: 50%;
  border-width: 1px 1px 0 1px;
  /* background-color: rgb(171, 139, 103); */
  border-radius: 15px 5px 0 0;
}

.tab button {
  background-color: inherit;
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 14px;
}

#members-tab {
  background-color: rgba(244, 151, 108, 1);
}

#members-tab:hover {
  background-color: rgb(255, 109, 41);
}

#itinerary-tab {
  background-color: rgb(246, 217, 101);
}

#itinerary-tab:hover {
  background-color: rgb(255, 204, 0);
}

#list-tab {
  background-color: rgba(115, 149, 174, 1);
}

#list-tab:hover {
  background-color: rgb(41, 164, 252);
}

.tab button:hover {
  font-weight: bold;
}

.tab button:active {
  background-color: rgb(204, 204, 204);
}

.tabcontentsection {
  height: 100%;
  width: 100%;
}

.tabcontent {
  padding: 6px 12px;
  border-top: none;
}

/* usertab */

.users-list {
  display: flex;
}

.users-list li {
  width: 33%;
  margin: 5px;
}

.userpic {
  width: 75%;
  height: auto;
  border-radius: 100px;
}

/* itinerarytab  */

ul {
  list-style-type: none;
}

.activityli {
  display: flex;
}

.activitymoment {
  width: 50%;
}

.activity {
  width: 50%;
}

.tab-header {
  color: #eee;
}

.list-list {
  margin: 0;
  padding: 0;
}

.list-list li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: rgb(238, 238, 238);
  font-size: 12px;
  transition: 0.2s;
}

.list-list li:nth-child(odd) {
  background: rgb(249, 249, 249);
}


