COLOR THEME {
  color: rgb(204, 204, 204);
  color: rgb(221, 221, 221);
  color: rgb(223, 224, 223);
  color: rgb(171, 139, 103);
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgb(255, 247, 239);
  color: rgb(171, 139, 103);
  overflow: auto;
  /* background: hw */
}

.App {
  text-align: center;
}

header {
  display: flex;
  height: 100px;
  padding: 15px;
  margin-bottom: 10px;
  border-bottom: 2px solid rgb(171, 139, 103);
}

.button {
  border-radius: 10px;
  width: 100px;
  height: 30px;
  margin-right: 5px;
}

.logo-div {
  width: 25%;
}

.info-div {
  width: 75%;
}

.logo {
  height: 70px;
  margin-top: 20px;
}

.info-div {
  text-align: left;
  padding-left: 50px;
}

.intro {
  font-size: 16pt;
  font-style: italic;
  padding-left: 10px;
}

/* joinpage */
.formdiv {
  width: 100%;
  text-align: center;
}

.formdiv * {
  margin: 5px auto;
}

/* main */
main {
}

.formdivsection {
  display: flex;
  flex-direction: column;
}

.Dashboard {
  display: flex;
}

/* chat page, left page  */
.chatdiv {
  border: 1px solid rgb(223, 224, 223);
  height: 600px;
  width: 50%;
  display: flex;
  border-radius: 5px;
  background-color: rgb(223, 224, 223);
}

.chat-container {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
}
/* 
.chat-window {
  height: 70%;
  width: 100%;
} */
/* 
.chat-form {
  width: 100%;
  height: 25px;
  bottom: 0px;
}

.chat-form input {
  width: 70%;
  height: 70%;
}

.chat-form button {
  width: 20%;
  height: 100%;
} */

/* sidebar. right page */
.sidebar {
  width: 50%;
  height: 600px;
  background-color: inherit;
}

.tabnav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(255, 247, 239);
}

.tab {
  overflow: hidden;
  width: 50%;
  border-width: 1px 1px 0 1px;
  /* background-color: rgb(171, 139, 103); */
  border-radius: 15px 5px 0 0;
}

.tab button {
  background-color: inherit;
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 14pt;
}

#members-tab {
  background-color: rgba(244, 151, 108, 1);
}

#members-tab:hover {
  background-color: rgb(255, 109, 41);
}

#itinerary-tab {
  background-color: rgb(246, 217, 101);
}

#itinerary-tab:hover {
  background-color: rgb(255, 204, 0);
}

#list-tab {
  background-color: rgba(115, 149, 174, 1);
}

#list-tab:hover {
  background-color: rgb(41, 164, 252);
}

.tab button:hover {
  font-weight: bold;
}

.tab button:active {
  background-color: rgb(204, 204, 204);
}

.tabcontentsection {
  height: 100%;
  width: 100%;
  background-color: inherit;
}

.tabcontent {
  color: rgba(0, 0, 0, 1);
  padding: 6px 12px;
  border-top: none;
  overflow-y: scroll;
  max-height: 500px;
  border-radius: 4px;
}

#Users.tabcontent {
  background-color: rgba(244, 151, 108, 1);
}

div#Members {
    background-color: rgba(244, 151, 108, 1);
}

div#Itinerary {
    background-color: rgba(246, 217, 101, 1);
}

div#List {
    background-color: rgba(115, 149, 174, 1);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(127, 127, 127, 0.5);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(79, 79, 79);
  border-radius: 2px;
}

/* membertab */
.users-list {
  display: flex;
  flex-flow: wrap;
}

.users-list li {
  width: 30%;
  height: 150px;
  margin: 5px;
}

.userpic {
  width: 100px;
  height: auto;
  border-radius: 100px;
}

/* itinerarytab  */
ul {
  list-style-type: none;
}

.activityli {
  display: flex;
  justify-content: center;
}
/* 
.activitydetails {
  text-align: center;
  width: 50%;
} */

/* .activity {
  width: 50%;
} */

.list-display {
  color: black;
  overflow-y: scroll;
  max-height: 350px;
}

.activity-display {
  color: black;
  overflow-y: scroll;
  max-height: 350px;
}

.list-list {
  margin: 0;
  padding: 0;
}

.list-list li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: rgb(238, 238, 238);
  font-size: 12pt;
}

.list-list li:nth-child(odd) {
  background: rgb(249, 249, 249);
}

.list-items {
  display: flex;
  flex-flow: wrap;
}
