body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: black;
  color: #828282;
  overflow: hidden;
}

Link {
  color: white;
}

.App {
  text-align: center;
}

header {
  display: flex;
  height: 100px;
  padding: 20px;
}

.logo-div {
  background-color: black;
  width: 25%;
}

.info-div {
  background-color: black;
  width: 75%;
}

.logo {
  animation: App-logo-spin infinite 20s linear;
  height: 70px;
  margin-top: 20px;
}

.info-div {
    text-align: left;
    padding-left: 50px;
}

.title {
  font-size: 30px;
  color: white;
}

.intro {
  font-size: 20px;
}

/* joinpage */
.logindiv {
  width: 100%;
  text-align: center;
}

.logindiv * {
  margin: 5px auto;
}

/* main */
main {
  display: flex;
}

/* left page  */
.page {
  border: 1px solid white;
  width: 75%;
}

/* sidebar */
.sidebar {
  background-color: black;
  border: 1px solid white;
  width: 25%;
  height: 900px;
}

.users-div {
  text-align: left;
}

.users-list {}

.users-list li {
  margin: 10px 0px;
  list-style-type: none;
}

.tabnav {
  display: flex;
}

.tab {
  overflow: hidden;
  width: 50%;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tab button {
  background-color: inherit;
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

.tabcontent {
  padding: 6px 12px;
  border-top: none;
}
